main {
    display: flex;
    flex-direction: row;
}

#menu {
    width:65vw;
    height:95vh;
    border-right: 1px black solid;
    margin-right:10px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

#menu button {
    border:2px black solid;
    font-size: 20px;
    /* background: rgb(250, 167, 59); */
    color:black;
}

#menu button:focus {
    outline: 0;
}

#menu button:hover {
    background: rgb(241, 137, 0);
    color: white;
    border: 2px solid rgb(250, 167, 59);
    box-shadow: 1px 1px 10px orange;
}

#menu button:active {
    background: rgb(240, 162, 61);
}

#menu #container {
    background:white;
    height:100%;
    margin-right:10px;
    display:flex;
    flex-direction:row;
}

#container #mainMenu {
    border-right: 2px gray solid;
    width: 30%;
    padding: 1px;
    display:flex;
    flex-direction:column;
    list-style: none;
    justify-content:  flex-start;
    align-items: center;
}

#menu .menu {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height:100px;
    border-radius: 5px;
    margin-bottom: 1vh;
}

#container #items {
    width:80%;
    padding: 20px;
    /* border: 1px dashed blue; */
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

#menuDisplay{
    display:flex;
    flex-direction:column;
    width:40%;
}

#ticket {
    height:90%;
    width:100%;
    border: 1px dashed orange;
}

#notes {
    height:10%;
    width:100%;
    border: 1px dotted purple;
    font-size: 24px;
}

#items section {
    /* border: 1px dotted red; */
    height:100%;
    width: 30%;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: start;
    overflow: scroll;
    align-items: center;
}

#items .menu1 {
    height: 75px;
    border-radius: 5px;
    width:99%;
    margin-bottom: 5vh;
}

#ticket {
    display:flex;
    flex-direction:column;
}

#ticket li {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
    font-size:16px;
    /* border: 1px dotted black; */
}

#ticket div {
    text-align: end;
    width: 30%;
    margin-right:10px;
    /* border: 1px black dotted; */
}

#ticket button {
    border-radius:20px;
    margin-bottom: 2px;
    display:flex;
    align-items: center;

}

#calculator {
    width:35vw;
    height:90vh;
    /* border: 1px red dotted; */
    display:flex;
    flex-direction: column;
    padding-right:20px;
}

#displayContainer{
    width: 100%;
    height:20%;
    text-align: right;
    margin-bottom:10px;
    border-radius:10px;
    /* border: 1px orange solid; */
}

#displayContainer input {
    height:100%;
    width:100%;
    font-size:300%;
    border-radius:10px;
    padding-right:10px;
    text-align:right;
}

#displayContainer input:hover {
    box-shadow: 1px 1px 5px;
}

#subContainer{
    display: flex;
    flex-direction:row;
    width:100%;
    height: 100%;
}
#functionsleft{
    display:flex;
    flex-direction:column;
    /* border: 1px purple dotted; */
    width:20%;
    height:100%;
    margin-right:10px;  
    padding:0;
}

#functionsRight{
    display:flex;
    flex-direction:column;
    width:20%;
    height:inherit;
    /* justify-content:space-around; */
}

#functionsBottom {
    display:flex;
    flex-direction:row;
    width:100%;
    /* justify-content: space-around; */
}

#functionsBottom .register{
    width:100%;
    height:100px;
    font-size:150%;
}

#calculator button {
    height:100%;
    font-size:50%;
    margin: 5px;
    border-radius:10px;
}

#calculator button:focus {
    outline:0;
}

#calculator input:focus {
    outline:0;
}

#calculator button:hover {
    background-color: rgba(0,100,200,.5);
    color: white;
}

#calculator button:active {
    background-color:rgba(0,100,200,1)
}

#calculator .function {
    width:100%;
    font-size:150%;
}

#numerics {
    display:flex;
    flex-direction:column;
    /* border:1px green solid; */
    width:100%;
    height:100%;
}

.row {
    display: flex;
    flex-direction:row;
    width:100%;
    height:100%;
    margin-bottom:10px;
    /* border:1px solid red; */
}

#calculator .number {
    font-size:20px;
    height:100%;
    width:inherit;
}

#plus{
    background-color: rgba(0,80,200,.8);
    color:white;
}