main {
    display: flex;
    flex-direction: row;
}

#menu {
    width:65vw;
    height:95vh;
    border-right: 1px black solid;
    margin-right:10px;
    color:rgb(250, 167, 59);
    font-family: Arial, Helvetica, sans-serif;
}

#menu button {
    border: 3px rgb(255, 201, 131) solid;
    font-size: 20px;
    background: rgb(250, 167, 59);
    color: white;
}

#menu button:focus {
    outline: 0;
}

#menu button:hover {
    background: rgb(241, 137, 0);
    color: white;
}

#menu button:active {
    background: rgb(240, 162, 61);
}

#menu #container {
    background:white;
    height:100%;
    margin-right:10px;
    display:flex;
    flex-direction:row;
}

#container #mainMenu {
    width: 20%;
    border: 1px gray solid;
    padding: 20px;
    display:flex;
    flex-direction:column;
    list-style: none;
    justify-content:  space-evenly;
    align-items: center;
}

#mainMenu .category {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height:100px;
    border-radius: 20px;
}

#container #itemList {
    width:inherit;
    padding: 20px;
    flex-direction:row;
}

#calculator {
    width:35vw;
    height:90vh;
    /* border: 1px red dotted; */
    display:flex;
    flex-direction: column;
    padding-right:20px;
}

#displayContainer{
    width: 100%;
    height:20%;
    text-align: right;
    margin-bottom:10px;
    border-radius:10px;
    /* border: 1px orange solid; */
}

#displayContainer input {
    height:100%;
    width:100%;
    font-size:300%;
    border-radius:10px;
    padding-right:10px;
    text-align:right;
}

#displayContainer input:hover {
    box-shadow: 1px 1px 5px;
}

#subContainer{
    display: flex;
    flex-direction:row;
    width:100%;
    height: 100%;
}
#functionsleft{
    display:flex;
    flex-direction:column;
    /* border: 1px purple dotted; */
    width:20%;
    height:100%;
    margin-right:10px;  
    padding:0;
}

#functionsRight{
    display:flex;
    flex-direction:column;
    width:20%;
    height:inherit;
    /* justify-content:space-around; */
}

#functionsBottom {
    display:flex;
    flex-direction:row;
    width:100%;
    /* justify-content: space-around; */
}

#functionsBottom .register{
    width:100%;
    height:100px;
    font-size:150%;
}

#calculator button {
    height:100%;
    font-size:50%;
    margin: 5px;
    border-radius:10px;
}

#calculator button:focus {
    outline:0;
}

#calculator input:focus {
    outline:0;
}

#calculator button:hover {
    background-color: rgba(0,100,200,.5);
    color: white;
}

#calculator button:active {
    background-color:rgba(0,100,200,1)
}

#calculator .function {
    width:100%;
    font-size:150%;
}

#numerics {
    display:flex;
    flex-direction:column;
    /* border:1px green solid; */
    width:100%;
    height:100%;
}

.row {
    display: flex;
    flex-direction:row;
    width:100%;
    height:100%;
    margin-bottom:10px;
    /* border:1px solid red; */
}

#calculator .number {
    font-size:20px;
    height:100%;
    width:inherit;
}

#plus{
    background-color: rgba(0,80,200,.8);
    color:white;
}